<div class="row">

  <div class="col-12 header d-flex justify-content-between align-items-center">
        
    <div class="d-flex">
      <img class ='train mx-2' src='/images/train.png' width="50px">
      <h2 class='mx-2'>Ticketac</h2>
    </div>
         
    <div>
      <a href="/logout" class="connection mx-3">Deconnexion</span>
      <a href ='/lasttrips/' class="mylasttrips mx-3">My last trips</span>
    </div>
     
  </div>
     
  <form class="d-flex flex-column mx-auto mt-5">    
    <p class='error-message'> My tickets </p>
  </form>

</div> <!-- div class row -->