body {
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom, #7db9e8 20%,#1e5799 100%);
}


footer {
  text-align:center;
  position: fixed;
  bottom:0;
  width:100%;
  font-size:13px;
}

.header {
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 95px;
  background-color: white;
}

.connection {
  color: red;
  font-weight: bold
}

.mylasttrips {
  color: #282828;
  font-weight: bold
}

.error-message {
  color: #F7F5F4;
  font-size: 20px

}

.table {
  background-color: white;
}