body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom, #7db9e8 20%,#1e5799 100%);
}


footer {
  text-align:center;
  position: fixed;
  bottom:0;
  width:100%;
  display:inline-block;
  vertical-align:top;
  font-size:13px;
}

.header {
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 95px;
  background-color: white;
}